//Color pallete

$mainNav: #161F6D;
$mainBody: #00ABE1;
$aboutBackground: #FFFCF9;
$projectsBackground: #FFFCF9;
$lighterMainColor: #FFFCF9;


$primary-font-size: 14px;
$mainFont:  'Alegreya Sans SC', sans-serif;
$fontTitleColor: #161F6D;

//font-families
$gravitasOne: 'Gravitas One', cursive;
