//Color pallete

$mainNav: #546747;
$mainBody: #e9c46a;
$aboutBackground: #F4A261;
$projectsBackground: #E76F51;
$lighterMainColor: #e4c474;
$primary-font-size: 14px;


//font-families
$gravitasOne: 'Gravitas One', cursive;
