//Just fixing a commit message
$mainNav: #264653;
$mainBody: #e9c46a;
$aboutBackground: #F4A261;
$projectsBackground: #E76F51;
$lighterMainColor: #e4c474;
$primary-font-size: 14px;


@mixin text-gradient {
    background: linear-gradient(-90deg, #000000, #000000, #ffffff, #ffffff);
    background-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 20s ease-in infinite;
    -moz-animation: animated_text 20s ease-in infinite;
    -webkit-animation: animated_text 20s ease-in infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes animated_text {
    0% { background-position: 0px 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0px 50%; }
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-size: $primary-font-size;
}

.top-nav-bar {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    background-color: #ffffff;
}

.nav-bar-logo {
    grid-column: 1 / 2;
    padding: 10px;
    margin-left: 20px;
}

.menu-container {
    grid-column: 2 / 3;
    display:flex;
    flex-direction: row;
    display: none;
}
/* Only exist when hmbrgr menu is clicked */
.dropdown-content {
    display: flex;
    flex-direction: column;
    position:absolute;
    right: 0;
    width: 200px;
    background-color: #ffffff;
    z-index: 2000;
}

.hmbrgr-menu {
    width: 25px;
    height:25px;
    justify-self: end;
    align-self: center;
    margin-right: 20px;
   color: $lighterMainColor;
}
.hmbrgr-menu:hover {
    cursor: pointer;
}
.nav-link {
 padding: 10px;

}
.nav-link a {
    text-decoration: none;
}

.about {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    background: linear-gradient(50deg, $projectsBackground 10%, $aboutBackground 20%, $mainNav 30%, $mainBody 40%);
    background-size: 400% 400%;
    animation: gradient 20s ease-in-out infinite;

    &-bio-title {
        place-self: center;
        display: flex;
        flex-direction: column;

        & span{
            place-self: center;
            font-size: 4em;
            grid-row: 1/2;
            @include text-gradient;
            
        }
        & h4{
            place-self: center;
            font-size: 2em;
            margin-bottom: 0px;
            @include text-gradient;
        }
        & h2 {
            place-self:center;
            margin-left: 10px;
            margin-right: 10px;
            @include text-gradient;
        }
    }
    
    &-bio-dscrpt p {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        @include text-gradient;
        
    }

}


#Projects {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
    background-color: #F4A261;
    width: 100vw;
}

.project {
    place-self: center;
    padding: 10px;
    
    &-title {
        font-size: 3em;
        place-self: center;
    }
    &-card {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        width: 25vw;
        place-self: center;

        & i {
            place-self: center;
        }
        &-btn {
            place-self: center;
            background: none;
            box-shadow: none;
            border: none;
        }
    }
}


#Skills {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
}

.skills {
    justify-self: center;
    padding: 10px;

    &-title {
        grid-column: 1/3;
        justify-self: center;
        font-size:3em;
    }
    &-card {
        place-self: center;
    }
}

#contact-footer {
    display: flex;
    flex-direction: row;
}