$mainNav: #FFFFCB;
$mainBody: #004056;
$aboutBackground: #FFFFCB;
$projectsBackground: #FFFFCB;
$lighterMainColor: #e6f2f3;


body {
    display: flex;
    flex-direction: column;
    background-color: $mainBody;
    margin: 0px;
}

.top-nav-bar {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    background-color: $mainNav;
}

.nav-bar-logo {
    grid-column: 1 / 2;
    padding: 10px;
}

.menu-container {
    grid-column: 2 / 3;
    display:flex;
    flex-direction: row;
    display: none;
}
/* Only exist when hmbrgr menu is clicked */
.dropdown-content {
    display: flex;
    flex-direction: column;
    position:absolute;
    right: 0;
    width: 200px;
    background-color: #ffffff;
    z-index: 2000;
}

.hmbrgr-menu {
    width: 25px;
    height:25px;
    justify-self: end;
    align-self: center;
    color: $lighterMainColor;
}
.hmbrgr-menu:hover {
    cursor: pointer;
}
.nav-link {
 padding: 10px;

}
.nav-link a {
    text-decoration: none;
}

.About {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    background-color: $aboutBackground;
    margin-top: 10px;
}

.About-photo {
    align-self: center;
    background-color: #dcf3ff;
}


#Projects {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
    background-color: $projectsBackground;
    margin-top: 10px;
}

.project {
    justify-self: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.project i {
    padding-left: 20px;
}

#Skills {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
}

.skill {
    justify-self: center;
    padding: 10px;
}

#contact-footer {
    display: flex;
    flex-direction: row;
}